@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--background-primary: #fcfcfc;
	--font-primary: #4a5568;
	--font-secondary: #319795;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background: var(--background-primary);
	min-height: 100vh;
}

.component__page {
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	aspect-ratio: 16/9;
	padding: 10px;
}
