.searchInput {
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 10px 10px 10px 13px;
	height: 100%;
	width: 100%;
}

.inputContain {
	display: flex;
	align-items: center;

	border: 2px solid var(--font-primary);
	border-radius: 10px;
	height: 100%;
	max-width: 260px;
	width: 100%;
}
