.headerContain {
	display: flex;
	justify-content: space-between;

	position: fixed;
	width: 100%;
	background: var(--background-primary);
	z-index: 1;
	padding: 20px 40px;
	height: 80px;
}

.logoContain h1 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--font-primary);
}

.searchBox {
	width: 320px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*On mobile*/

.headerContainMobile {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: fixed;
	width: 100%;
	height: 120px;
	background: var(--background-primary);
	padding: 20px 40px;
	border-bottom: 1px solid #000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	z-index: 3;
}

.logoContainMobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoContainMobile h1 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--font-primary);
}

.searchBoxMobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
