.headerContain {
	display: flex;
	justify-content: space-between;

	padding: 20px 40px;
	height: 80px;
	/* background: red; */
}

.logoContain h1 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--font-primary);
}

.searchBox {
	width: 320px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	/* background-color: blue; */
}
