.asideContain {
	padding: 10px 40px;
	height: calc(100vh - 80px);
	width: clamp(250px, 30%, 300px);
	border-right: 1px solid var(--font-primary);
}

.asideContain ul li {
	list-style: none;
	font-weight: 500;
	font-size: 1.1rem;
	cursor: pointer;
	margin-bottom: 5px;
	color: var(--font-primary);
}

.asideContain ul .active {
	color: var(--font-secondary);
}
