#contain {
	background: #333;
	height: 100vh;
}

.cardContain {
	position: relative;
	aspect-ratio: 3/4;
	height: 100%;
	max-height: 350px;
	border-radius: 10px;
	border: 5px solid greenyellow;
	border-top-left-radius: 50px;
	padding: 40px 30px;
}

.cardContain::after {
	content: '';
	position: absolute;
	top: 0;
	left: 100px;
	width: 35px;
	height: 35px;
	border-top-left-radius: 50%;
	box-shadow: -5px -5px greenyellow;
}

.cardContain::before {
	content: '';
	position: absolute;
	top: 100px;
	left: 0;
	width: 35px;
	height: 35px;
	border-top-left-radius: 50%;
	box-shadow: -5px -5px greenyellow;
}

.iconContain {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border-top-left-radius: 44px;
	border-bottom-right-radius: 44px;
	border: 6px solid greenyellow;
}

.content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	gap: 10px;

	height: 100%;
	color: #fff;
	text-align: center;
}

.content h3 {
	text-transform: uppercase;
	font-size: 1rem;
}

.content p {
	font-size: 0.9rem;
}

.content button {
	background: greenyellow;
	color: #333;
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 30px;
}

/*below is the standard component*/

#containMiniature {
	background: #333;
	height: 100vh;
}

.cardContainMiniature {
	position: relative;
	aspect-ratio: 3/4;
	height: 100%;
	max-height: 147px;
	border-radius: 4.2px;
	border: 3px solid greenyellow;
	border-top-left-radius: 21px;
	padding: 16px 12px;
}

.cardContainMiniature::after {
	content: '';
	position: absolute;
	top: 0.7px;
	left: 42px;
	width: 8.4px;
	height: 8.4px;
	border-top-left-radius: 50%;
	box-shadow: -2px -2px greenyellow;
}

.cardContainMiniature::before {
	content: '';
	position: absolute;
	top: 42px;
	left: 0.7px;
	width: 8.4px;
	height: 8.4px;
	border-top-left-radius: 50%;
	box-shadow: -2px -2px greenyellow;
}

.iconContainMiniature {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	border-top-left-radius: 17.5px;
	border-bottom-right-radius: 17.5px;
	border: 4px solid greenyellow;
}

.contentMiniature {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	gap: 4.2px;

	height: 100%;
	color: #fff;
	text-align: center;
}

.contentMiniature h3 {
	text-transform: uppercase;
	font-size: 0.42rem;
}

.contentMiniature p {
	font-size: 0.37rem;
}

.contentMiniature button {
	background: greenyellow;
	font-size: 0.42rem;
	color: #333;
	font-weight: bold;
	border: none;
	padding: 4.2px 8.4px;
	cursor: pointer;
	border-radius: 20px;
}
